<article class="card">
    <div class="card-img">
        <img [src]="product.img" [alt]="product.product" loading="lazy" >
    </div>
    <h2>{{ product.product }}</h2>
    <div class="card-info">
        <span>{{ product.brand }}</span>
        <p>{{ product.price | currency: 'BRL' }}</p>
    </div>

    <footer>
        <button (click)="addItemToCart(product)">
            <i class="bx bx-cart-add"></i>
        </button>
        <button (click)="addToWishlist(product)" [class.isOnWish]="isItemOnWishList">
            <i [class]="{
                'bx': true, 
                'bx-heart': !isItemOnWishList,
                'bxs-heart': isItemOnWishList
                }"></i>
        </button>
    </footer>
</article>
