header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0 20px;
    box-shadow: var(--box-shadow);
}

header h1 {
    font-size: var(--font-size-small);
}

header nav {
    display: grid;
    place-items: center;
}

header nav .cart {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

header nav .cart span {
    position: absolute;
    top: -10px;
    right: -4px;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #ca1818;
    font-size: var(--font-size-xsmall);
}

header nav .cart a {
    display: flex;
    width: 100%;
    height: 100%;
}

header nav .cart a i {
    font-size: var(--font-size-large);
}