@if(!utS$.isLoading()) {
    <section class="container container_padding">
        <h2>Produtos</h2>
    
        <!-- criar um carrousel de imagens aqui -->
        <div class="filters">
            <div class="filter_search">
                <input type="text" placeholder="Pesquisar..." #search 
                (keyup)="handleSearchKey($event, search.value)">
                <i class='bx bx-search-alt' (click)="handleSearchButton(search.value)"></i>
            </div>

            <div class="filter_sort">
                <select [value]="selectValue" (change)="handleSelectChange($event)">
                    <option value="0">Padrão</option>
                    <option value="1">Menor preço</option>
                    <option value="2">Maior preço</option>
                </select>
            </div>
        </div>
        <ul class="products">
            @for(prod of filteredProdArray; track $index) {
    
                <li>
                    <!-- criar card component -->
                    <Homecard
                    [product]="prod"></Homecard>
                </li>
            }
        </ul>
    
    </section>
}
