.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000049;

    transition: all 300ms ease;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-width: 250px;
    background-color: var(--color-white);
    border-radius: var(--border-round);
    box-shadow: var(--box-shadow);
}

.loader {
    border: 8px solid transparent;
    border-radius: 50%;
    border-top: 8px solid var(--color-primary);
    border-right: 8px solid var(--color-primary);
    border-bottom: 8px solid var(--color-primary);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    -webkit-animation: spin 600ms ease-in-out infinite; 
    animation: spin 600ms ease-in-out infinite;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}