section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section ul {
    list-style: none;
    min-width: 250px;
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: var(--border-round);
}

.resume-item {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 80%;
    border-bottom: 1px solid var(--color-grey);
    padding: 10px;
}
.resume-item > * {
    letter-spacing: 1px;
}

.resume-total {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.resume:last-child button {
    width: 100%;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px;
    border-radius: var(--border-round);
    cursor: pointer;
    transition: all 300ms ease;
}

.resume:last-child button:hover {
    background-color: var(--color-primary-hover);
}
@media(width >= 1024px) {
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    section h1 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .resume-item {
        flex-direction: row;
        justify-content: space-between;
    }
    .resume-item > * {

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1 1 0;
    }

    .resume-item:last-child{
        margin-left: auto;
    }
}