@if(!utS$.isLoading()) {
    <section class="container container_padding">
        <h1>Carrinho</h1>
        <ul>
            @for(item of cart$.cartArray; track $index) {
    
                <li>
                    <!-- criar card component -->
                    <c-card
                    [product]="item"></c-card>
                </li>
            }
            @empty {
                <p style="font-size: var(--font-size-xsmall);">Carrinho vazio,
                    <a routerLink="/home"
                    style="cursor: pointer; text-decoration: underline;"> veja os produtos aqui.</a>
                </p>
            }
        </ul>
    
        <ul class="resume" [hidden]="cart$.cartArray.length === 0">
            <li>
                <h2>Resumo</h2>
            </li>
            @for (item of cart$.cartArray; track $index) {
                <li class="resume-item">
                    <b>{{ item.product }}</b>
                    <i>Quantidade: {{ item.quantity }}</i>
                    <i>{{ item.price | currency: 'BRL' }}</i>
                </li>
            }
            <li class="resume-total">
                <h4>Total</h4>
                <p>{{ cart$.cartTotal() | currency: 'BRL' }}</p>
            </li>
            <li>
                <button (click)="handleStartConfirmation()">Finalizar compra</button>
            </li>
        </ul>
    </section>
    @if(startConfirmation) {
        <confirmation></confirmation>
    }
}